@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*::selection{
  background: none;
}

:root{
  --primary-color: #E3E3E3;
  --secondary-color: #4E4E4D;
}

.dark-theme{
  --primary-color: #4E4E4D;
  --secondary-color: #E3E3E3;
}

body{
  background-color: var(--primary-color);
  text-align: center;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  color: var(--secondary-color);
  padding: 1px 15px 1px 15px;
  
}

.square{
  width: 100px;
  height: 100px;
  background-color: var(--secondary-color);
  display: inline-block;
  margin: 1px;
}

#restart{
  margin: 30px;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  box-shadow: 3px 2px 5px #4E4E4D;
  cursor: pointer;
}

.o{
  position: relative;
}

.o:after{
  position: absolute;
  content: "O";
  color: var(--primary-color);
  font-size: 50px;
  font-family: "Raleway", Geneva, Tahoma, sans-serif;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.x{
  position: relative;
}

.x:after{
  position: absolute;
  content: "X";
  color: var(--primary-color);
  font-size: 50px;
  font-family: "Raleway", Geneva, Tahoma, sans-serif;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
